
<div class="input-group">
    
        <input type="search" class="form-control" id="Testo" />
        <button type="button" class="searchBtn" id="Cercas"><i class="fa-solid fa-magnifying-glass"></i></button>
   
    <div id="Risultato" class="ricerca" style="display: none; width: 280px;">


    </div>
</div>

